<div class="row">
    <section class="main col-md-9">
        <article>
            <h2>About</h2>
            <p>
                I am Jhonatan and I study Computer Programming and analysis. I like to play games and write code in c++, but I am trying to get better using javascript
            </p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum tempore, incidunt accusamus cum, quis consectetur dolorem maxime quisquam sed deserunt inventore nobis illum saepe enim delectus cumque consequuntur corrupti ab.</p>
        </article>
    </section>
    <aside class="col-md-3">
        <h2>Coming Soon</h2>
        <p>Stay tuned for some exciting news!.</p>
    </aside>
</div>